<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>ABOUT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label text-wrap>
      <img src="../assets/icon/geotarget.png" height="45" />
      <ion-button small shape="round" size='small' float-right (click)="home()">HOME</ion-button>
    </ion-label>
  </ion-list>

  <ion-col>
    <div class="ion-text-center">
      <h3><b>THIAGARAJAR COLLEGE OF ENGINEERING</b></h3>
    </div>
    <h5>ARPUTHAVARNAM M C</h5>
    <h5>MASTER OF COMPUTER APPLICATIONS</h5>
    <h5>III YEAR</h5>
    <h6>Contact Number : 9944117741</h6>
    <h6>Mail-Id : arputhavarnam@gmail.com</h6>
  </ion-col>

  <ion-list>
    <div class="ion-text-center">
      <img src="../assets/icon/applogo.png" height="68" width=""/>APPLICAION LOGO<br>
      <img src="../assets/icon/splashscreen.png" height="68" width=""/>SPLASHSCREEN
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color='primary'>
    <div class="ion-text-center">
      <h3><b>Ionic MyGeo</b></h3>
    </div>
  </ion-toolbar>
</ion-footer>